* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{ background-image: url("../Pub-network-main-website/img/");
    background-size: cover;
    background-position: center;
        background-repeat: no-repeat;}
.header,
.footer {
    background-color: #1F2937;
}

.nav_container {
    background-color: #1F2937;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    color: #f9faf8;
}

.logo_img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero_container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 64px 16px; 
    gap: 32px; 
    flex-wrap: wrap; 
    text-align: center;
}

.hero_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    max-width: 500px; 
}

.hero_main_text {
    font-size: 36px;
    color: #f9faf8;
}

.hero_subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder_image {
    border-radius: 20px;
    margin-bottom: 25px;
    max-width: 100%; 
    height: auto;
}

.join_button {
    background-color: #710202;
    padding: 8px 16px; 
    border-radius: 5px;
    width: fit-content;
}
.about_title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 16px;
}
.about_grid{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px;
}
.about_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #ffffff;
    padding: 3rem 2rem;
    border-radius: 24px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    max-width: 350px;
    max-height: 220px;

}
.about_card:hover {
    border-color: rgba(113, 2, 2, 0.6);
}
.about_links{
  background-color: #710202;
    padding: 8px 16px; 
    border-radius: 5px;
    width: fit-content;
}

.image_icon{
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
}
.disclaimer{
    background-color: #e5e7eb;
}
.disclaimer_content{
    text-align: center;
    padding: 16px;
}
.disclaimer_title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 16px;
}
.footer_bottom{
    text-align: center;
    padding: 8px;
    color: #e5e7eb;
}
@media (max-width: 900px) {
    .hero_container {
        justify-content: start;
        text-align: center;
    }

    .hero_text_container {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .nav_container {
        flex-direction: column;
        gap: 12px;
    }

    ul {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .hero_main_text {
        font-size: 28px;
    }

    .hero_subtext {
        font-size: 16px;
    }
}
